body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.categories-container div p
{
    margin-bottom: 0;
}
.categories-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.categories-container div div
{
    border-radius: 20px;
}
.categories-container>div
{
    border: 4px solid #02c39a;
    border-radius: 10px;
    padding: 10px;
    height:200px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.categories-under-weight div
{
    height: 40%;
    width: 100px;
    background-color: #62B6CB;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.categories-normal-weight div
{
    height: 40%;
    width: 100px;
    background-color:#157F1F ;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.categories-over-weight div
{
    height: 40%;
    width: 100px;
    background-color: #E8871E;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.categories-obese div
{
    height: 40%;
    width: 100px;
    background-color: red;

    width: 100px;
}

.input-container
{
    color: white;
    font-size: 18px;
    background-color: #028090;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
.input-container div
{
    display: flex;

}
.input-container div input,.input-gender select,.result-container input
{
    padding: 8px;
    border: none;
    border-radius: 16px;
    width: 180px;
}
.result-container input
{
    border: 2px solid #05668d;
}
.buttons
{
    background-color: #05668d;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.buttons button
{
    padding: 12px 15px;
    border-radius: 10px;
    width: 200px;
    border: 2px solid #05668d;
    transition: 0.2s;
    font-size: 14px;
    
}
.buttons button:hover
{
cursor: pointer;
background-color: #028090;
color: white;
border: 2px solid white;
}
.result-container p
{
    margin: 0;
}
.result-container
{
    background-color: #f0f3bd;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 16px;
}
.graphics h1
{
    text-align: center;
}
.graphics
{
    margin: 0;
    padding: 20px;
}
.head1 h1
{
    margin: 0;
}
.head1
{
    background-color: #05668d;
    padding: 20px;
    text-align: center;
    color:white ;
}

@media (min-width: 1024px) {
.input-container
{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
}